/* General Layout Styles */


p {

	font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

body {

	background-color: #9180d1;
}

nav {

	width: 100%;
	text-align: center;
	align-content: center;
	font-size: 15pt;
	font-family: 'Zen Kaku Gothic Antique', sans-serif;
	color: white;
	padding-bottom: .5%;
	
}


header {

	text-align: center;
	font-size: 30pt;
	color: white;
	padding: 1%;
	font-family: 'Averia Serif Libre', cursive;

}

footer {

	
	text-align: center;
	font-family: 'Zen Kaku Gothic Antique', sans-serif;
	width: 100%;
	clear: both;

	padding-top: 5%;

	padding-bottom: 3%;


}

hr {
	border-style: solid;
	border-color: #6c5f9c;
	width: 35%;
	size: .1px;
	opacity: 0.5;


	margin-bottom: 2.5%;



}


a{
	color: white;
	text-decoration: none;
}

a: link{

	color: white;
	text-decoration: none;
}


a:hover {

	color:red;
}



img {

	max-width: 100%;
	height: auto;
}

figure {

	float: left;
	text-align: center;
	align-content: center;
	max-width: 100%;
	height: auto;
	padding-left: 5%;
	padding-right: 5%;


}







.grid-container {

	display: grid;
	grid-template-columns: auto auto auto;

	text-align: center;

	padding-left: %;
	padding-right: %;
	position: sticky;
	width: 83%;

	column-gap: -2%;
	grid-row-gap: 6%;

	float: none;
	margin: auto;

	opacity: 1; 
  cursor: pointer; 

}


.grid-container2 {

	display: grid;
	grid-template-columns: auto auto auto;

	text-align: center;

	padding-top: 2.5%;
	position: sticky;
	width: 52%;

	column-gap: 8%;
	grid-row-gap: %;

	float: none;
	margin: auto;

}

.grid-item {

	


}




.column {
  float: left;

  margin-left: 23%; 
  width: 52%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
  margin-bottom: 1%;
}

.column img {
  opacity: 1; 
  cursor: pointer; 
}

.column img:hover {
  opacity: .5;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  margin-left: 3%;
  
 }

 .homecap {

 	display: none;

 }

 .homecapsub {

 	width: 100%;
 	margin-left: 25%;
 	color: white; 
 	text-align: center; 
 	font-size: 10pt; 
 	font-family: 'Zen Kaku Gothic Antique', sans-serif;
 	


 }




.rowPages {


 	clear: both;
 	margin-left: 5%;
 	margin-right: 5%;

}

.columnPages{

 	
	 width: 48%;	

 	float: left;
 	padding: 1%;
	


 }

.columnPagesvideo{

 	
	 width: 48%;	

 	float: left;
 	padding: 1%;
	


 }



 .rowBDIP {


 	clear: both;
 	margin-left: 5%;
 	margin-right: 5%;

}

.columnBDIP{

 	
	 width: 48%;	

 	float: left;
 	padding: 1%;
	


 }


 .about{

 	width: 50%;
 	margin-left: 25%;
 	padding-top: 5%; 
 	color: white; 
 	text-align: center; 
 	font-size: 15pt; 
 	font-family: 'Zen Kaku Gothic Antique', sans-serif;
 	
 }

.descrip{

 	width: 50%;
 	margin-left: 25%;
 	color: white; 
 	text-align: center; 
 	font-size: 15pt; 
 	font-family: 'Zen Kaku Gothic Antique', sans-serif;
 }

 .descripabt{

 	width: 50%;
 	 margin-top: 3%;
 	margin-left: 25%;
 	color: white; 
 	text-align: center; 
 	font-size: 15pt; 
 	font-family: 'Zen Kaku Gothic Antique', sans-serif;
 }



/* class */




/* */


.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  pointer-events: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .85s ease;
  background-color:#262626;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}







@media only screen and (max-width: 768px) {
    header {
        
    	margin-top: 10%;


    }
}


@media only screen and (max-width: 768px) {
    .column {
        width: 90%;
        margin-left: 4%;
        margin-bottom: 3%;



    }
}

@media only screen and (max-width: 768px) {
    .columnBDIP {
        width: 100%;
        



    }
}


@media only screen and (max-width: 768px) {
    .overlay {
        display: none;


    }
}



@media only screen and (max-width: 768px) {
    .about {
        
    	width: 80%;
        margin-left: 5%;
        font-size: 10pt;
        padding: 5%;
        margin-top: 10%;


    }
}


@media only screen and (max-width: 768px) {
    .descrip {
        
    	width: 80%;
        margin-left: 5%;
        font-size: 10pt;
        padding: 5%;
        margin-top: 3%;


    }
}

@media only screen and (max-width: 768px) {
    .descripabt {
        
    	width: 80%;
        margin-left: 5%;
        font-size: 10pt;
        padding: 5%;
        margin-top: 3%;


    }
}

@media only screen and (max-width: 768px) {
    .homecapsub {
        
    	width: 80%;
        margin-left: 9%;
        margin-top: 2.5%;
        font-size: 10pt;
        


    }
}


@media only screen and (max-width: 768px) {
    .homecap {
        
    	display: inline;


    }
}

@media only screen and (max-width: 768px) {
    .columnpagesvideo {
        
    	margin-left: 0%;


    }
}

@media only screen and (max-width: 768px) {
    footer {
        
    	font-size: 9pt;



    }
}


